---
const { title } = Astro.props;
import { Icon } from 'astro-icon/components'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<header class="h-16 flex items-center shadow-sm border-solid border-2">
			<div class="container flex max-w-[1200px] mx-auto flex-row justify-between items-center">
				<img class="cursor-pointer" src="/public/logo duolingo.svg">
				<a class="relative group font-extrabold text-gray-400 uppercase flex flex-row items-center hover:text-gray-400 cursor-pointer" h-ref="#">
					Idioma de la pagina: Español
					<Icon name="mdi:chevron-down" />


					<div class=" absolute top-6 hidden group-hover:block">
						
						<div class="container bg-white h-auto max-w-[1600px] mt-3 p-2 shadow-lg border-l-2">
							Opciones de menu 
							<div class="grid grid-rows-4 grid-flow-col gap-4">
								<div>01</div>
								<div>01</div>
								<div>01</div>
								<div>01</div>
								<div>01</div>
								<div>05</div>
								<div>07</div>
								<div>10</div>
							  </div>
						</div>
					</div>


				</a>
			</div>
		</header>
		<div class= "mt-32 flex justify-center mx-auto mb-32">
			<div class="max-w-xl ">
				<img src="duolingo vector.svg">
			</div>
			<div class="flex items-center justify-center w-1/3 flex-col">
				<h1 class="text-4xl text-center font-bold text-gray-600 text-balance">
					¡La forma divertida, efectiva y gratis de aprender un idioma!
				</h1>

				<div class="w-80 h-12 bg-[#58cc02] flex justify-center items-center rounded-lg mt-7 border-solid font-bold text-white border-b-4 border-[#58a700] hover:cursor-pointer hover:bg-[#6aeb08]">
					EMPIEZA AHORA
				</div>
				<div class="w-80 h-12 shadow-sm flex justify-center items-center rounded-lg mt-4 border-solid border-2 font-bold text-[#1cb0f6] uppercase hover:cursor-pointer hover:bg-gray-100">
					Ya tengo una cuenta
				</div>
			</div>
		</div>
		<slot />
		<footer>
			<div class="container">
				Footer o pie de pagina
			</div>
		
		</footer>
	</body>
</html>
