---
const { title } = Astro.props;
import { Icon } from 'astro-icon/components'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<header class="h-16 flex items-center shadow-md">
			<div class="container flex max-w-[1200px] mx-auto flex-row justify-between items-center">
				<img src="/public/logo duolingo.svg">
				<a class="relative group font-extrabold text-gray-600 uppercase flex flex-row items-center hover:text-gray-400 cursor-pointer" h-ref="#">
					Idioma de la pagina
					<Icon name="mdi:chevron-down" />


					<div class=" absolute top-6 hidden group-hover:block">
						Opciones de menu 
					</div>
				</a>
			</div>
		</header>
		<slot />
		<footer>
			<div class="container">
				Footer o pie de pagina
			</div>
		
		</footer>
	</body>
</html>
